.thanks {
  @media (max-width: 1219.98px) {
    @include adaptiv-value("margin-bottom", 100, 40, 1);

    @include adaptiv-value("padding-bottom", 120, 140, 1);
  }

  // .thanks__body

  &__body {
    @include adaptiv-value("padding-top", 55, 45, 1);
    padding-right: 20px;
    padding-left: 20px;
    @include adaptiv-value("padding-bottom", 30, 20, 1);
    position: relative;
    border-radius: 16px;
    animation: animation-show-thanks 0.8s;
    background: var(--color-main-second);

    ::selection {
      background-color: var(--color-main);

      color: var(--color-dark);
    }

    &:not(:last-child) {
      @include adaptiv-value("margin-bottom", 65, 35, 1);
    }
  }

  // .thanks__title

  &__title {
    font-family: "Master Zoo";
    @include adaptiv-value("font-size", 70, 42, 1);
    font-weight: 400;
    line-height: calc(64 / 70 * 100%);
    text-align: center;
    color: var(--color-main);

    &:not(:last-child) {
      @include adaptiv-value("margin-bottom", 60, 63, 1);
    }
  }

  // .thanks__social

  &__social {
  }

  // .thanks__navigation

  &__navigation {
    @include adaptiv-value("column-gap", 60, 20, 1);
    row-gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  // .thanks__image

  &__image {
    margin-top: -10px;
    @include adaptiv-value("width", 195, 145, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;

    img {
      max-width: 100%;
    }
  }

  // .thanks__element

  &__element {
    width: 450px;
    position: absolute;
    right: 150px;
    bottom: 100px;
    z-index: 2;

    img {
      max-width: 100%;
    }

    @media (max-width: 1919.98px) {
      @include adaptiv-value("width", 450, 130, 0);
      @include adaptiv-value("right", 150, -260, 0);
    }

    @media (max-width: 1219.98px) {
      @include adaptiv-value("width", 220, 150, 1);
      @include adaptiv-value("right", 100, 40, 1);
      @include adaptiv-value("bottom", 20, 7, 1);
    }
  }
}

.thanks-social {
  // .thanks-social__title

  &__title {
    font-family: "Master Zoo";
    @include adaptiv-value("font-size", 24, 22, 1);
    font-weight: 400;
    line-height: calc(20 / 24 * 100%);
    text-align: center;
    color: var(--color-main);

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  // .thanks-social__row

  &__row {
    @include adaptiv-value("column-gap", 35, 15, 1);
    row-gap: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  // .thanks-social__icon

  &__icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;

    img {
      max-width: 100%;
    }

    @media (any-hover: hover) {
      transition: transform 0.2s ease 0s;

      &:hover {
        transform: translateY(-3px);
      }
    }
  }
}

.thanks-navigation {
  // .thanks-navigation__item

  &__item {
  }

  // .thanks-navigation__link

  &__link {
    font-family: "Master Zoo";
    @include adaptiv-value("font-size", 40, 28, 1);
    font-weight: 400;
    line-height: calc(32 / 40 * 100%);
    text-decoration: none;
    color: var(--color-main-second);

    @media (any-hover: hover) {
      transition: color 0.2s ease 0s;

      &:hover {
        color: var(--color-grey);
      }
    }
  }
}

@keyframes animation-show-thanks {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
