<section class="action" data-section-action>
  <div class="_container">
    <div class="action__inner">
      <form class="action__body" data-main-form>
        <div class="action__logo">
          <img src="./img/logo.svg" loading="lazy" alt="MasterZoo" />
        </div>

        <div class="action__items action-items">
          <div class="action-items__row action-items__first action-first" data-form-step="1">
            <h3 class="action-first__title">
              Де купував щось із товарів для улюбленця <br />
              протягом останніх 6 місяців?
            </h3>

            <div class="action-first__columns columns-first">
              <div class="action-first__option">
                <label class="action-first__item">
                  <input class="action-first__input" name="option-1" value="Супермаркет/ринок" type="radio" hidden />

                  <span class="action-first__elem" data-comment-variant="first-1">Супермаркет/ринок</span>
                </label>
              </div>

              <div class="action-first__option">
                <label class="action-first__item">
                  <input class="action-first__input" name="option-1" value="Мережа MasterZoo" type="radio" hidden />

                  <span class="action-first__elem">Мережа MasterZoo</span>
                </label>
              </div>

              <div class="action-first__option">
                <label class="action-first__item">
                  <input class="action-first__input" name="option-1" value="Інший інтернет-магазин" type="radio" hidden />

                  <span class="action-first__elem" data-comment-variant="first-1">Інший інтернет-магазин</span>
                </label>
              </div>

              <div class="action-first__option">
                <label class="action-first__item">
                  <input class="action-first__input" name="option-1" value="Магазинчик біля дому, по регулярному маршруту" type="radio" hidden />

                  <span class="action-first__elem">Магазинчик біля дому, по регулярному маршруту</span>
                </label>
              </div>

              <div class="action-first__option">
                <label class="action-first__item">
                  <input class="action-first__input" name="option-1" value="Застосунок (додаток)" type="radio" hidden />

                  <span class="action-first__elem" data-comment-variant="first-1">Застосунок (додаток)</span>
                </label>
              </div>
            </div>

            <div class="action-first__option" data-comment-text="first-1" style="display: none">
              <div class="action__text">Напиши назву, будь ласка</div>

              <textarea class="action-first__textarea" data-form-message maxlength="360" name="first"></textarea>
            </div>
          </div>

          <div class="action-items__row action-items__first action-first" data-form-step="2">
            <h3 class="action-first__title">Що саме було важливо при виборі місця покупки:</h3>

            <div class="action-first__columns columns-second">
              <div class="action-first__option">
                <label class="action-first__item">
                  <input class="action-first__input" name="option-2" value="Бренд / репутація магазину" type="radio" hidden />

                  <span class="action-first__elem"> Бренд / репутація магазину </span>
                </label>
              </div>

              <div class="action-first__option">
                <label class="action-first__item">
                  <input class="action-first__input" name="option-2" value="Можливість замовити онлайн і забрати в офлайн" type="radio" hidden />

                  <span class="action-first__elem"> Можливість замовити онлайн і забрати в офлайн </span>
                </label>
              </div>

              <div class="action-first__option">
                <label class="action-first__item">
                  <input class="action-first__input" name="option-2" value="Місцерозташування магазину" type="radio" hidden />

                  <span class="action-first__elem"> Місцерозташування магазину </span>
                </label>
              </div>

              <div class="action-first__option">
                <label class="action-first__item">
                  <input class="action-first__input" name="option-2" value="Цінова політика" type="radio" hidden />

                  <span class="action-first__elem"> Цінова політика </span>
                </label>
              </div>

              <div class="action-first__option">
                <label class="action-first__item">
                  <input class="action-first__input" name="option-2" value="Обслуговування" type="radio" hidden />

                  <span class="action-first__elem"> Обслуговування </span>
                </label>
              </div>

              <div class="action-first__option">
                <label class="action-first__item">
                  <input class="action-first__input" name="option-2" value="Доставка" type="radio" hidden />

                  <span class="action-first__elem"> Доставка </span>
                </label>
              </div>

              <div class="action-first__option">
                <label class="action-first__item">
                  <input class="action-first__input" name="option-2" value="Можливість купити в інтернет-магазині" type="radio" hidden />

                  <span class="action-first__elem"> Можливість купити в інтернет-магазині </span>
                </label>
              </div>

              <div class="action-first__option">
                <label class="action-first__item">
                  <input class="action-first__input" name="option-2" value="Асортимент, вибір товарів" type="radio" hidden />

                  <span class="action-first__elem"> Асортимент, вибір товарів </span>
                </label>
              </div>

              <div class="action-first__option">
                <label class="action-first__item">
                  <input class="action-first__input" name="option-2" value="Можливість купити в фізичному зоомагазині" type="radio" hidden />

                  <span class="action-first__elem"> Можливість купити в фізичному зоомагазині </span>
                </label>
              </div>

              <div class="action-first__option">
                <label class="action-first__item">
                  <input class="action-first__input" name="option-2" value="Додаткові сервіси" type="radio" hidden />

                  <span class="action-first__elem"> Додаткові сервіси </span>
                </label>
              </div>

              <div class="action-first__option">
                <label class="action-first__item">
                  <input class="action-first__input" name="option-2" value="Мобільний застосунок (додаток)" type="radio" hidden />

                  <span class="action-first__elem"> Мобільний застосунок (додаток) </span>
                </label>
              </div>

              <div class="action-first__option">
                <label class="action-first__item">
                  <input class="action-first__input" name="option-2" value="Інше" type="radio" hidden />

                  <span class="action-first__elem" data-comment-variant="second-1"> Інше </span>
                </label>
              </div>
            </div>

            <div class="action-first__option" data-comment-text="second-1" style="display: none">
              <div class="action__text">Напиши назву, будь ласка</div>

              <textarea class="action-first__textarea" data-form-message maxlength="360" name="first"></textarea>
            </div>
          </div>

          <div class="action-items__row action-items__first action-third" data-form-step="3">
            <h3 class="action-first__title">
              Що ми могли б покращити, щоб стати кращим <br />
              місцем для твоїх покупок
            </h3>

            <textarea class="action-first__textarea" data-form-message maxlength="360" name="first"></textarea>
          </div>
        </div>

        <input class="action__send" data-form-send style="display: none" type="submit" value="ВІДПРАВИТИ" />
      </form>

      <div class="action__element">
        <picture>
          <source srcset="./img/sections/action/element.webp" type="image/webp" />
          <img src="./img/sections/action/element.png" alt="догі на фоні" />
        </picture>
      </div>
    </div>
  </div>
</section>
