<section class="thanks" data-section-thanks style="display: none">
   <div class="_container">
      <div class="thanks__body">
         <div class="thanks__text">Ваші враження важливі для мене та моєї команди</div>
         <div class="thanks__title">
            Щиро дякую <br />
            за відгук!
         </div>
         <div class="thanks__social thanks-social">
            <div class="thanks-social__title">ми у соцмережах</div>
            <div class="thanks-social__row">
               <a class="thanks-social__icon" title="Instagram" target="_blank" href="https://www.instagram.com/masterzoo">
                  <img src="./img/icons/instagram.svg" alt="Instagram" />
               </a>
               <a class="thanks-social__icon" title="Facebook" target="_blank" href="https://www.facebook.com/Masterzoo.ua">
                  <img src="./img/icons/facebook.svg" alt="Facebook" />
               </a>
               <a class="thanks-social__icon" title="Telegram" target="_blank" href="https://t.me/masterzooU">
                  <img src="./img/icons/telegram.svg" alt="Telegram" />
               </a>
               <a class="thanks-social__icon" title="TikTok" target="_blank" href="https://www.tiktok.com/@master_zoo">
                  <img src="./img/icons/tiktok.svg" alt="TikTok" />
               </a>
               <a
                  class="thanks-social__icon"
                  title="YouTube"
                  target="_blank"
                  href="https://www.youtube.com/channel/UCsRX62pmj2dGOFLcc3I634w"
               >
                  <img src="./img/icons/youtube.svg" alt="YouTube" />
               </a>
            </div>
         </div>
         <div class="thanks__image">
            <picture>
               <source srcset="./img/sections/thanks/image.webp" type="image/webp" />
               <img src="./img/sections/thanks/image.png" alt="ілюстрація собака" />
            </picture>
         </div>
      </div>
      <ul class="thanks__navigation thanks-navigation">
         <li class="thanks-navigation__item">
            <a class="thanks-navigation__link" href="https://masterzoo.ua/ua/o-nas/" target="_blank"> ПРО НАС </a>
         </li>
         <li class="thanks-navigation__item">
            <a class="thanks-navigation__link" href="https://masterzoo.ua/ua/aktsii-online/" target="_blank"> АКЦІЇ </a>
         </li>
         <li class="thanks-navigation__item">
            <a class="thanks-navigation__link" href="https://masterzoo.ua/ua/novini/" target="_blank"> НОВИНИ </a>
         </li>
      </ul>
   </div>
   <div class="thanks__element">
      <picture>
         <source srcset="./img/sections/thanks/element.webp" type="image/webp" />
         <img src="./img/sections/thanks/element.png" alt="коте на фоні" />
      </picture>
   </div>
</section>
