//< " ПЕРЕМЕННЫЕ " >=============================================================================================================>//

// ОБЩИЕ НАСТРОЙКИ СТРАНИЦЫ
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 630;
$containerPadding: 30;

:root {
   // БРЕЙКПОИНТЫ
   --header-mobile: 991.98px;

   // ЦВЕТА
   --color-white: #ffffff;
   --color-dark: #000000;

   --color-grey: #dfcce6;

   --color-main: #1cb600;
   --color-main-second: #c3e66c;

   --color-selection: #acf79e;

   --background-page: var(--color-main);
   --font-family: "Proxima Soft";
}
