//< " ПЕРЕМЕННЫЕ " >=============================================================================================================>//

// ОБЩИЕ НАСТРОЙКИ СТРАНИЦЫ
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 630;
$containerPadding: 30;

:root {
  // БРЕЙКПОИНТЫ
  --header-mobile: 991.98px;

  // ЦВЕТА
  --color-white: #ffffff;
  --color-dark: #000000;

  --color-grey: #dfcce6;

  --color-main: #763cbc;
  --color-main-second: #dfcce6;
  --color-main-third: #c3e66c;

  --color-selection: #ffffff;

  --background-page: var(--color-main-second);
  --font-family: "Proxima Soft";
}
